@media (max-width: 575px) {
    .navbar .navbar-brand {
        padding: 0px 16px;
        transform: skewX(0);
        position: static;
    }

    .navbar .navbar-brand img {
        transform: skewX(0);
    }

    .navbar {
        top: 0px;
    }

    .navbar-light .navbar-toggler {
        border-color: #fff;
    }

    .navbar-light .navbar-toggler span {
        color: #fff;
    }

    .navbar ul {
        background: rgba(0, 0, 0, 0.6);
    }

    #banner .bg1 .banner-text h2::before,
    #banner .bg1 .banner-text h2::after,
    #banner .bg1 .banner-text::before,
    #banner .bg1 .banner-text::after,
    #banner .bg1 .banner-text p::before,
    #banner .bg1 .banner-text p::after {
        display: none;
    }

    #banner .slider-item {
        padding-top: 120px;
        padding-bottom: 85px;
    }

    #banner .banner-text h2 {
        font-size: 25px;
    }

    #banner .banner-text h1 {
        font-size: 45px;
    }

    #about {
        padding: 30px 0;
    }

    #about .about-video {
        margin-top: 25px;
    }

    #team {
        margin-top: 40px;
    }

    #membership {
        margin-top: 40px;
    }

    #counter {
        margin-top: 40px;
    }

    #counter .count-item h2 {
        padding-top: 12px;
    }

    #counter .count-item p {
        padding-bottom: 12px;
    }

    #routine {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    #routine .routine-head .nav-tabs .nav-item .nav-link {
        width: 156px;
        margin: 0px 3px 15px 3px;
    }

    #routine .tab-content ul {
        margin-top: 0;
    }

    #routine .tab-content ul li {
        padding: 28px 15px;
    }

    #routine .tab-content ul li:nth-child(5n) {
        margin-right: 5px;
    }

    #brand .brand-item{
        margin-right: 34px;
    }

    .slick-slide img {
        width: 100%;
    }

    #footer .overlay .footer-item .gym li {
        width: 69px;
    }

    #footer .overlay .footer-item .gym li:nth-child(4n) {
        margin-right: 10px;
    }

    #footer .overlay .footer-item .gym li img {
        width: 100%;
    }
    
/*
    #footer .overlay .footer-text p{
        margin-top: 20px !importent;
    }
*/


}


/* for small divice */
@media (min-width:576px) and (max-width:767px) {
    .navbar .navbar-brand {
        padding: 0px 16px;
        transform: skewX(0);
        position: static;
    }

    .navbar .navbar-brand img {
        transform: skewX(0);
    }

    .navbar {
        top: 0px;
    }

    .navbar-light .navbar-toggler {
        border-color: #fff;
    }

    .navbar-light .navbar-toggler span {
        color: #fff;
    }

    .navbar ul {
        background: rgba(0, 0, 0, 0.6);
    }

    #banner .bg1 .banner-text h2::before,
    #banner .bg1 .banner-text h2::after,
    #banner .bg1 .banner-text::before,
    #banner .bg1 .banner-text::after,
    #banner .bg1 .banner-text p::before,
    #banner .bg1 .banner-text p::after {
        display: none;
    }

    #banner .slider-item {
        padding-top: 120px;
        padding-bottom: 85px;
    }

    #banner .banner-text h2 {
        font-size: 25px;
    }

    #banner .banner-text h1 {
        font-size: 45px;
    }

    #about {
        padding: 30px 0;
    }

    #about .about-video {
        margin-top: 25px;
    }

    #team {
        margin-top: 40px;
    }

    #membership {
        margin-top: 40px;
    }

    #counter {
        margin-top: 40px;
    }

    #counter .count-item h2 {
        padding-top: 12px;
    }

    #counter .count-item p {
        padding-bottom: 12px;
    }

    #routine {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    #routine .routine-head .nav-tabs .nav-item .nav-link {
        width: 165px;
        margin: 0px 3px 15px 3px;
    }

    #routine .tab-content ul {
        margin-top: 0;
    }

    #routine .tab-content ul li {
        padding: 50px 20px;
    }

    #routine .tab-content ul li:nth-child(5n) {
        margin-right: 5px;
    }

    .slick-initialized .slick-slide {
        margin-right: 34px;
    }

    .slick-slide img {
        width: 100%;
    }

    #footer .overlay .footer-item .gym li {
        width: 69px;
    }

    #footer .overlay .footer-item .gym li:nth-child(4n) {
        margin-right: 10px;
    }

    #footer .overlay .footer-item .gym li img {
        width: 100%;
    }
}

/* for medium device */

@media (min-width:768px) and (max-width:991px) {
    .navbar .navbar-brand {
        padding: 0px 16px;
        transform: skewX(0);
        position: static;
    }

    .navbar .navbar-brand img {
        transform: skewX(0);
    }

    .navbar {
        top: 0px;
    }

    .navbar-light .navbar-toggler {
        border-color: #fff;
    }

    .navbar-light .navbar-toggler span {
        color: #fff;
    }

    .navbar ul {
        background: rgba(0, 0, 0, 0.6);
    }

    #banner .bg1 .banner-text h2::before,
    #banner .bg1 .banner-text h2::after,
    #banner .bg1 .banner-text::before,
    #banner .bg1 .banner-text::after,
    #banner .bg1 .banner-text p::before,
    #banner .bg1 .banner-text p::after {
        display: none;
    }

    #banner .slider-item {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    #banner .banner-text h2 {
        font-size: 25px;
    }

    #banner .banner-text h1 {
        font-size: 45px;
    }

    #about {
        padding: 30px 0;
    }

    #about .about-video {
        margin-top: 25px;
    }

    #team {
        margin-top: 40px;
    }

    #membership {
        margin-top: 40px;
    }

    #counter {
        margin-top: 40px;
    }

    #counter .count-item h2 {
        padding-top: 12px;
    }

    #counter .count-item p {
        padding-bottom: 12px;
    }

    #routine {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    #routine .routine-head .nav-tabs .nav-item .nav-link {
        width: 222px;
        margin: 0px 3px 15px 3px;
    }

    #routine .tab-content ul {
        margin-top: 0;
    }

    #routine .tab-content ul li {
        padding: 50px 50px;
    }

    #routine .tab-content ul li:nth-child(5n) {
        margin-right: 5px;
    }

    .slick-initialized .slick-slide {
        margin-right: 34px;
    }

    .slick-slide img {
        width: 100%;
    }

    #footer .overlay .footer-item .gym li {
        width: 69px;
    }

    #footer .overlay .footer-item .gym li:nth-child(4n) {
        margin-right: 10px;
    }

    #footer .overlay .footer-item .gym li img {
        width: 100%;
    }
}
