:root {
    --hf: 'Oswald', sans-serif;
    --pf: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

/*===========================
    common css end here
============================= */



/*===========================
    navber css start
============================= */
.navbar {
    background: rgba(53, 53, 53, 0.25);
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 99999;
    width: 100%;
}

.navbar .navbar-brand {
    background: #353535;
    padding: 10px 40px;
    transform: skewX(-40deg);
    position: absolute;
    z-index: 4444;
}

.navbar .navbar-brand img {
    transform: skewX(35deg);
}

.navbar-light .navbar-nav .nav-link {
    color: #f1f1f1;
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    width: 100%;
    height: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link::after {
    height: 100%;
    /* color: #353535; */
}

.navbar-light .navbar-nav .nav-link.active::after {
    height: 100%;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    width: 0%;
    height: 3px;
    background: #e23e38;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link::before {
    width: 100%;
}

.navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
}

/*===========================
    navber css end
============================= */




/*===========================
    banner css start
============================= */
#banner .slider-item {
    padding-top: 245px;
    padding-bottom: 115px;
    position: relative;
    z-index: 3;
}

#banner .slider-item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -3;
}

#banner .bg1 {
    background: url(../images/banner-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .bg2 {
    background: url(../images/banner-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .bg3 {
    background: url(../images/banner-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner .banner-text h2 {
    font-family: var(--hf);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

#banner .banner-text h1 {
    font-family: var(--hf);
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e23e38;
    padding-bottom: 10px;
}

#banner .banner-text p {
    font-family: var(--pf);
    font-size: 13px;
    color: #f7f7f7;
    line-height: 18px;
}

#banner .banner-text a {
    border-radius: 0;
    margin-left: 30px;
    padding: 0 14px;
    line-height: 35px;
    text-transform: uppercase;
    font-family: var(--hf);
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-top: 13px;
}

#banner .bg3 .banner-text a:first-of-type {
    margin-left: 0px;
}

#banner .banner-text a:first-of-type {
    margin-right: 0px;
}

#banner .banner-text a:hover {
    border-color: #e23e38;
    background: #e23e38;
}

#banner .bg1 .banner-text {
    position: relative;
}

#banner .bg1 .banner-text p {
    padding: 0 23px;
}

#banner .bg1 .banner-text::before {
    content: '';
    width: 3px;
    height: 196px;
    background: #e23e38;
    position: absolute;
    top: 18px;
    left: 0;
}

#banner .bg1 .banner-text::after {
    content: '';
    width: 3px;
    height: 196px;
    background: #e23e38;
    position: absolute;
    top: 18px;
    right: 0;
}

#banner .bg1 .banner-text h2 {
    position: relative;
}

#banner .bg1 .banner-text h2::after {
    content: '';
    width: 162px;
    height: 3px;
    background: #e23e38;
    position: absolute;
    top: 50%;
    left: 0;

}

#banner .bg1 .banner-text h2::before {
    content: '';
    width: 109px;
    height: 3px;
    background: #e23e38;
    position: absolute;
    top: 50%;
    right: 0;

}

#banner .bg1 .banner-text p {
    position: relative;
}

#banner .bg1 .banner-text p::before {
    content: '';
    width: 70px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -44px;
    background: #e23e38;
}

#banner .bg1 .banner-text p::after {
    content: '';
    width: 42px;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: -44px;
    background: #e23e38;
}

#banner .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
}

#banner .slick-dots li {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

#banner .slick-dots li.slick-active {
    transform: scale(1.2);
    background: #e23e38;
    border-color: #e23e38;
}


#banner .slick-dots li button {
    border: none;
    outline: none;
    font-size: 0;
    background: none;
}

/*===========================
    banner css end
============================= */



/*===========================
    about css start
============================= */

#about {
    padding: 80px 0;
}

#about .about-video {
    position: relative;
}

#about .about-video img {
    width: 100%;
}

#about .about-video .ovarley {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

#about .about-video .ovarley .icon {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #e23e38;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about .about-video .ovarley .icon i {
    line-height: 47px;
    font-size: 22px;
    padding-left: 5px;
    color: #353535;
}

#about .about-text .text-heading {
    padding-bottom: 5px;
}

#about .about-text .text-heading h3 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}

#about .about-text .text-heading img {
    margin-top: -22px;
}

#about .about-text .about-details p {
    font-family: var(--pf);
    font-size: 14.5px;
    color: #777;
    line-height: 24px;
}

#about .about-text .about-details p:first-of-type {
    padding-bottom: 10px;
}

/*===========================
    about css end
============================= */



/*===========================
    gallery css start
============================= */

#gallery .heading {
    margin-bottom: 10px;
}

#gallery .heading h3 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}

#gallery .heading img {
    margin-top: -22px;
}

#gallery .gallery-bg {
    background: url(../images/gallery-bg.png) no-repeat center / cover;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

#gallery .gallery-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#gallery .gallery-bg .item .item-img {
    position: relative;
    margin-bottom: 30px;
}

#gallery .gallery-bg .item .item-img .ovarley {
    width: 100%;
    height: 100%;
    background: hsla(2, 75%, 55%, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0.9);
    opacity: 0;
    transition: all linear .2s;
}

#gallery .gallery-bg .item .item-img:hover .ovarley {
    opacity: 1;
}

#gallery .gallery-bg .item .item-img .ovarley .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#gallery .gallery-bg .item .item-img .ovarley .icon i {
    font-size: 25px;
    color: #f1f1f1;
}

/*===========================
    gallery css end
============================= */


/*===========================
    team css start
============================= */
#team {
    margin-top: 70px;
}

#team .heading h3 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}

#team .heading img {
    margin-top: -22px;
}

#team .team-item {
    margin-top: 55px;
    transition: all linear .3s;
}

#team .team-item:hover {
    transform: translateY(-10%);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

#team .team-item .team-img {
    position: relative;
    background: #ddd;
}

#team .team-item .team-img img {
    width: 100%;
}

#team .team-item .team-img .ovarley {
    width: 100%;
    height: 100%;
    background: hsla(2, 75%, 55%, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: scale(0.9);
    opacity: 0;
    transition: all linear .2s;
}

#team .team-item:hover .team-img .ovarley {
    opacity: 1;
}

#team .team-item .team-img .ovarley .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


#team .team-item .team-img .ovarley .icon ul {
    padding-left: 0;
    padding-bottom: 0;
}

#team .team-item .team-img .ovarley .icon ul li {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 27px;
    margin-top: 10px;
    transition: all linear .2s;
}

#team .team-item .team-img .ovarley .icon ul li a i {
    color: #fff;
    transition: all linear .2s;
}

#team .team-item .team-img .ovarley .icon ul li:hover {
    background: #fff;
}

#team .team-item .team-img .ovarley .icon ul li:hover a i {
    color: #00a6cf
}

#team .team-item h2 {
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
    padding-top: 15px;
}

#team .team-item h3 {
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #555555;
    margin-top: -2px;
}

#team .team-item p {
    font-family: var(--hf);
    font-size: 13px;
    color: #777;
    line-height: 18px;
    padding: 0 34px 25px 34px;
    transform: translateY(-50%);
    opacity: 0;
    transition: all linear .3s;
}

#team .team-item:hover p {
    transform: translateY(0%);
    opacity: 1;
}

/*===========================
    team css end
============================= */

/*===========================
    testimonial css start
============================= */
#testimonial .heading h3 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}

#testimonial .heading img {
    margin-top: -22px;
}

#testimonial .testimonial-bg {
    background: url(../images/testimonial-bg.png) no-repeat center /cover;
    background-attachment: fixed;
    padding-top: 30px;
    position: relative;
    margin-top: 12px;
    z-index: 1;
}

#testimonial .testimonial-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#testimonial .testimonial-bg .t-slider-item .item-details {
    margin-left: -10px !important;
}

#testimonial .testimonial-bg .t-slider-item .item-details h4 {
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

#testimonial .testimonial-bg .t-slider-item .item-details h5 {
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
}

#testimonial .testimonial-bg .t-slider-item .item-details ul {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: -4px !important;
}

#testimonial .testimonial-bg .t-slider-item .item-details ul li {
    display: inline-block;
}

#testimonial .testimonial-bg .t-slider-item .item-details ul li i {
    display: inline-block;
    color: #e23e38;
    font-size: 14px;
}

#testimonial .testimonial-bg .t-slider-item .item-text p {
    font-family: var(--pf);
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 55px;
    padding-right: 5px;
    padding-top: 6px;
}


#testimonial .testimonial-bg .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

#testimonial .testimonial-bg .slick-dots li {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

#testimonial .testimonial-bg .slick-dots li.slick-active {
    transform: scale(1.2);
    background: #e23e38;
    border-color: #e23e38;
}


#testimonial .testimonial-bg .slick-dots li button {
    border: none;
    outline: none;
    font-size: 0;
    background: none;
}

/*===========================
    testimonial css end
============================= */

/*===========================
    membership css start
============================= */
#membership {
    margin-top: 75px;
}

#membership .heading h3 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}

#membership .heading img {
    margin-top: -22px;
}

#membership .member-item {
    padding-top: 15px;
}

#membership .member-item h3 {
    font-family: var(--hf);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #353535;
    background: #ddd;
    line-height: 55px;
    transition: all linear .3s;
}

#membership .member-item:hover h3 {
    background: #e23e38;
    color: #fff;
}

#membership .member-item .member-img {
    position: relative;
}

#membership .member-item .member-img .ovarley {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#membership .member-item .member-img .ovarley span {
    font-family: var(--hf);
    font-size: 35px;
    font-weight: 500;
    color: #Fff;
    text-transform: capitalize;
}

#membership .member-item .member-img .ovarley h2 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 500;
    color: #Fff;
    text-transform: capitalize;
    line-height: 100px;
    margin-bottom: 0;
}

#membership .member-item ul {
    margin-bottom: 0;
    padding-left: 0;
    background: #f1f1f1;
}

#membership .member-item ul li {
    font-family: var(--pf);
    font-size: 14px;
    color: #555;
    padding-top: 20px;
}

#membership .member-item ul li:first-of-type {
    padding-top: 35px;
}

#membership .member-item ul li:last-of-type {
    padding-bottom: 35px;
}

#membership .member-item h4 {
    font-family: var(--hf);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
    background: #ddd;
    line-height: 34px;
    transition: all linear .3s;
}

#membership .member-item:hover h4 {
    background: #e23e38;
    color: #fff;
}

/*===========================
    membership css end
=============================*/

/*===========================
    counter css start
=============================*/
#counter {
    background: url(../images/counter-bg.png) no-repeat center/ cover;
    position: relative;
    z-index: 1;
    margin-top: 72px;
}

#counter::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#counter .count-item h2 {
    font-family: var(--hf);
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

#counter .count-item p {
    font-family: var(--pf);
    font-size: 13px;
    text-transform: capitalize;
    padding-top: -4px;
    padding-bottom: 30px;
}

/*===========================
    counter css end
=============================*/


/*===========================
    routine css start
=============================*/

#routine {
    margin-top: 75px;
    margin-bottom: 70px;
}

#routine .heading h3 {
    font-family: var(--hf);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}

#routine .heading img {
    margin-top: -22px;
}

#routine .routine-head {
    padding-top: 10px;
}

#routine .routine-head .nav-tabs {
    border-bottom: none;
}

#routine .routine-head .nav-tabs .nav-item .nav-link {
    width: 185px;
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
    border: none;
    border-radius: 0;
    padding: 0;
    text-align: center;
    background: #f1f1f1;
    line-height: 51px;
    margin: 0;
}

#routine .routine-head .nav-tabs .nav-item .nav-link.active {
    background: #e23e38;
    color: #fff;
}

#routine .tab-content ul {
    padding: 0;
    margin-top: 30px;
}

#routine .tab-content ul li {
    float: left;
    padding: 50px 46px;
    background: #f1f1f1;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all linear .1s;
}

#routine .tab-content ul li p {
    font-family: var(--pf);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #353535;
    margin: 0 !important;
}

#routine .tab-content ul li p:last-of-type {
    font-size: 14px;
    margin-top: -10px !important;
}

#routine .tab-content ul li:nth-child(5n) {
    margin-right: 0px;
}

#routine .tab-content ul li i {
    margin-top: -10px;
    font-size: 42px;
}

#routine .tab-content ul li.active {
    background: #e23e38;
    color: #fff;
}

#routine .tab-content ul li.active p {
    color: #fff;
}

#routine .tab-content ul li:hover {
    transform: scale(1.03);
}

/*===========================
    routine css end
=============================*/

/*===========================
    brand css start
=============================*/

#brand .brand-slider {
    position: relative;
}

#brand .brand-slider.brand-item {}

#brand .brand-slider.brand-item img {
    width: 100%;
}

#brand .slick-center img {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


#brand .brand-slider .prev-btn {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #353535;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: -30px;
    z-index: 66666;
}

#brand .brand-slider .prev-btn:hover {
    color: #e23e38;
}

#brand .brand-slider .next-btn {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #353535;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: -30px;
    z-index: 66666;
}

#brand .brand-slider .next-btn:hover {
    color: #e23e38;
}

/*===========================
    brand css end
=============================*/

/*===========================
    footer css start
=============================*/
#footer {
    margin-top: 75px;
    background: url(../images/foter-bg.png) no-repeat center / cover;
    position: relative;
}

#footer::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 125px;
    left: 0;
}

#footer::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 54px;
    left: 0;
}

#footer .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#footer .overlay .footer-logo {
    line-height: 125px;
}

#footer .overlay .footer-item h3 {
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    line-height: normal;
    padding: 35px 0 30px 0;
}

#footer .overlay .footer-item .week li {
    font-family: var(--pf);
    font-size: 13px;
    color: #fff;
    text-transform: capitalize;
}

#footer .overlay .footer-item .week li {
    padding-bottom: 5px;
}

#footer .overlay .footer-item .week li:last-of-type {
    padding-bottom: 0;
}

#footer .overlay .footer-item .week li .day {
    width: 70px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 42px;
}

#footer .overlay .footer-item .twitter-item {
    position: relative;
    padding-bottom: 5px;
}

#footer .overlay .footer-item .twitter-item:last-of-type {
    padding-bottom: 0;
}

#footer .overlay .footer-item .twitter-item .icon {
    color: #00a6cf;
    font-size: 20px;
    position: absolute;
    top: -2px;
    left: 0;
}

#footer .overlay .footer-item .twitter-item .text p {
    font-family: var(--pf);
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    padding-left: 28px;
}

#footer .overlay .footer-item .twitter-item .text p span {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    display: block;
}

#footer .overlay .footer-item .gym {
    display: flex;
    flex-wrap: wrap;
}

#footer .overlay .footer-item .gym li {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 57px;
}

#footer .overlay .footer-item .gym li:nth-child(4n) {
    margin-right: 0;
}

#footer .overlay .footer-item .gym li img {
    width: 100%;
}




#footer .overlay .footer-item .contact li {
    position: relative;
}

#footer .overlay .footer-item .contact li .icon {
    color: #e23e38;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
}

#footer .overlay .footer-item .contact li p {
    color: #fff;
    text-transform: none;
    font-size: 14px;
    padding-left: 18px;
    margin-bottom: 10px;
}

#footer .overlay .footer-item .contact li p a {
    color: #fff;
}

#footer .overlay .footer-item h4 {
    font-family: var(--hf);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding-top: 5px;
}

#footer .overlay .footer-item .footer-icon ul {
    padding: 0;
    display: flex;
}

#footer .overlay .footer-item .footer-icon ul li {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    margin-right: 10px;
    transition: all linear .2s;
    margin-bottom: 20px;
}

#footer .overlay .footer-item .footer-icon ul li a i {
    color: #fff;
}

#footer .overlay .footer-item .footer-icon ul li:hover {
    background: #e23e38;
    border-color: #e23e38;
}

#footer .overlay .footer-text p {
    font-size: 13px;
    color: #fff;
}

#footer .overlay .footer-text p span {
    text-transform: uppercase;
    color: #e23e38;
    line-height: 54px;
}

/*===========================
    footer css end
=============================*/

/*===========================
    colour plate start
=============================*/
.color-plate {
    width: 200px;
    height: 50px;
    background: #cccccc;
    position: fixed;
    top: 200px;
    right: -200px;
    z-index: 99999999;
    transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -webkit-transition: all linear .3s;
}

.color-plate-pos {
    right: 0;
}

.color-plate .color-icon {
    width: 30px;
    height: 30px;
    background: rgb(48, 48, 48);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -30px;
    top: 10px;
}

.color-plate .color-icon i {
    color: #fff;
    font-size: 22px;
}

.color-plate ul {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-plate ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.color-plate ul li.default {
    background: #e23e38;
}

.color-plate ul li.green {
    background: #00bb10;
}

.color-plate ul li.blue {
    background: #1700e6;
}

.color-plate ul li.pink {
    background: #e403d1;
}

.color-plate ul li.orange {
    background: #df7700;
}

/*===========================
    colour plate end
=============================*/

/* blue color css */

.blue .navbar-light .navbar-nav .nav-link.active::before,
.blue #banner .bg1 .banner-text h2::before,
.blue #banner .bg1 .banner-text h2::after,
.blue #banner .bg1 .banner-text::before,
.blue #banner .bg1 .banner-text::after,
.blue #banner .bg1 .banner-text p::before,
.blue #banner .bg1 .banner-text p::after,
.blue #banner .slick-dots li.slick-active,
.blue #about .about-video .ovarley .icon,
.blue #testimonial .testimonial-bg .slick-dots li.slick-active,
.blue #routine .routine-head .nav-tabs .nav-item .nav-link.active,
.blue #routine .tab-content ul li.active,
.blue .navbar-light .navbar-nav .nav-link::before{
    background: #1700e6;
}

.blue #gallery .gallery-bg .item .item-img .ovarley,
.blue #team .team-item .team-img .ovarley {
    background: rgba(17, 0, 253, 0.5);
}

.blue #banner .banner-text a:hover,
.blue #membership .member-item:hover h3,
.blue #membership .member-item:hover h4,
.blue #footer .overlay .footer-item .footer-icon ul li:hover {
    background: #1700e6;
    border-color: #1700e6;
}


.blue #banner .slick-dots li.slick-active,
.blue #testimonial .testimonial-bg .slick-dots li.slick-active {
    border-color: #1700e6;
}

.blue #banner .banner-text h1,
.blue #testimonial .testimonial-bg .t-slider-item .item-details ul li i,
.blue #footer .overlay .footer-item .contact li .icon,
.blue #footer .overlay .footer-text p span {
    color: #1700e6;
}

/* blue color css */


/* green color css */
.green .navbar-light .navbar-nav .nav-link.active::before,
.green #banner .bg1 .banner-text h2::before,
.green #banner .bg1 .banner-text h2::after,
.green #banner .bg1 .banner-text::before,
.green #banner .bg1 .banner-text::after,
.green #banner .bg1 .banner-text p::before,
.green #banner .bg1 .banner-text p::after,
.green #banner .slick-dots li.slick-active,
.green #about .about-video .ovarley .icon,
.green #testimonial .testimonial-bg .slick-dots li.slick-active,
.green #routine .routine-head .nav-tabs .nav-item .nav-link.active,
.green #routine .tab-content ul li.active,
.green .navbar-light .navbar-nav .nav-link::before{
    background: #00bb10;
}

.green #gallery .gallery-bg .item .item-img .ovarley,
.green #team .team-item .team-img .ovarley {
    background: rgba(0, 187, 16, 0.5);
}

.green #banner .banner-text a:hover,
.green #membership .member-item:hover h3,
.green #membership .member-item:hover h4,
.green #footer .overlay .footer-item .footer-icon ul li:hover {
    background: #00bb10;
    border-color: #00bb10;
}


.green #banner .slick-dots li.slick-active,
.green #testimonial .testimonial-bg .slick-dots li.slick-active {
    border-color: #00bb10;
}

.green #banner .banner-text h1,
.green #testimonial .testimonial-bg .t-slider-item .item-details ul li i,
.green #footer .overlay .footer-item .contact li .icon,
.green #footer .overlay .footer-text p span {
    color: #00bb10;
}

/* green color css */


/* pink color css */
.pink .navbar-light .navbar-nav .nav-link.active::before,
.pink #banner .bg1 .banner-text h2::before,
.pink #banner .bg1 .banner-text h2::after,
.pink #banner .bg1 .banner-text::before,
.pink #banner .bg1 .banner-text::after,
.pink #banner .bg1 .banner-text p::before,
.pink #banner .bg1 .banner-text p::after,
.pink #banner .slick-dots li.slick-active,
.pink #about .about-video .ovarley .icon,
.pink #testimonial .testimonial-bg .slick-dots li.slick-active,
.pink #routine .routine-head .nav-tabs .nav-item .nav-link.active,
.pink #routine .tab-content ul li.active,
.pink .navbar-light .navbar-nav .nav-link::before{
    background: #e403d1;
}

.pink #gallery .gallery-bg .item .item-img .ovarley,
.pink #team .team-item .team-img .ovarley {
    background: rgba(255, 0, 255, 0.5);
}

.pink #banner .banner-text a:hover,
.pink #membership .member-item:hover h3,
.pink #membership .member-item:hover h4,
.pink #footer .overlay .footer-item .footer-icon ul li:hover {
    background: #e403d1;
    border-color: #e403d1;
}

.pink #banner .slick-dots li.slick-active,
.pink #testimonial .testimonial-bg .slick-dots li.slick-active {
    border-color: #e403d1;
}

.pink #banner .banner-text h1,
.pink #testimonial .testimonial-bg .t-slider-item .item-details ul li i,
.pink #footer .overlay .footer-item .contact li .icon,
.pink #footer .overlay .footer-text p span {
    color: #e403d1;
}

/* pink color css */


/* orange color css */
.orange .navbar-light .navbar-nav .nav-link.active::before,
.orange #banner .bg1 .banner-text h2::before,
.orange #banner .bg1 .banner-text h2::after,
.orange #banner .bg1 .banner-text::before,
.orange #banner .bg1 .banner-text::after,
.orange #banner .bg1 .banner-text p::before,
.orange #banner .bg1 .banner-text p::after,
.orange #banner .slick-dots li.slick-active,
.orange #about .about-video .ovarley .icon,
.orange #testimonial .testimonial-bg .slick-dots li.slick-active,
.orange #routine .routine-head .nav-tabs .nav-item .nav-link.active,
.orange #routine .tab-content ul li.active,
.orange .navbar-light .navbar-nav .nav-link::before{
    background: #df7700;
}

.orange #gallery .gallery-bg .item .item-img .ovarley,
.orange #team .team-item .team-img .ovarley{
    background: rgba(238, 117, 4, 0.5);
}

.orange #banner .banner-text a:hover,
.orange #membership .member-item:hover h3,
.orange #membership .member-item:hover h4,
.orange #footer .overlay .footer-item .footer-icon ul li:hover{
    background: #df7700;
    border-color: #df7700;
}


.orange #banner .slick-dots li.slick-active,
.orange #testimonial .testimonial-bg .slick-dots li.slick-active{
    border-color:#df7700;
}

.orange #banner .banner-text h1,
.orange #testimonial .testimonial-bg .t-slider-item .item-details ul li i,
.orange #footer .overlay .footer-item .contact li .icon,
.orange #footer .overlay .footer-text p span{
    color: #df7700;
}
/* orange color css */
